* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Assistant', sans-serif;
    background-color: #F5F5DC;
    overflow-x: hidden;
   /* color: #fff;
    color: #F5F5DC;
    color: #4b4c67; */
}

#logo img {
    position: absolute;
    width: 7%;
    height: 9%;
    left: 1.5%;
}
.headline h1 {
    position: absolute;
    top: 110%;
    left: 40%;
    font-size: 40px;
}

#assortiment {
    position: relative;
    top: 110%;
    left: 15%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#box-background-1 {
    position: absolute;
    left: 10%;
    top: 112%;
    height: 90%;
    width: 80%;
    background-color: #ffe;
    z-index: -100;
    box-shadow: 1px 8px 10px 1px #888888;
    
}

#box-background-2 {
    position: absolute;
    left: 10%;
    top: 285%;
    height: 82%;
    width: 80%;
    background-color: #ffe;
    z-index: -100;
    box-shadow: 1px 8px 10px 1px #888888;
    
}

#box-background-3 {
    position: absolute;
    left: 63%;
    top: 450%;
    height: 49%;
    width: 25%;
    background-color: #ffe;
    z-index: -100;
    box-shadow: 1px 8px 10px 1px #888888;
    
}

#assortiment h1 {
    font-size: 45px;
}

#assortiment img {
    width: 300px;
    height: 300px;  
}

#assortiment p {
    width: 40%;
    font-size: 25px;
    line-height: 1.4;
}
#contact p {
    font-size: 30px;
}


@media (max-width: 576px) {

    .headline h1 {
        top: 110%;
        width: 55%;
        left: 30%;

    }
    
    #assortiment {
        width: 99%;
        margin-left: -13%;
        display: grid;
        grid-template-columns: 100%;
}
    
    #assortiment p {
    width: 90%;
}
    
    #logo img {
    top: 4%;
    width: 10%;
    height: 5%;
    left: 35%;
}
    
    #box-background-1 {
    position: absolute;
    left: 10%;
    top: 120%;
    height: 100%;
    width: 80%;
    background-color: white;
    z-index: -100;
    display: none;
    
}

#box-background-2 {
    position: absolute;
    left: 10%;
    top: 285%;
    height: 84%;
    width: 80%;
    background-color: white;
    z-index: -100;
    display: none;
    
}
    
    #box-background-3 {
        display: none;
    }
}

